.wrapper {
  background-color: rgb(238, 68, 68);
  height: 100vh;
  margin-top: 0px;
  border: 1px solid red;
  width: 98%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  color: white;
  padding: 2px;
}
.header-container,
.main,
.course {
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.menu-button {
  font-size: 30px;
}
.main {
  flex-direction: column;
}
.course {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
