.wrapper {
  background-color: rgb(241, 83, 83);
  margin-top: 0px;
  border: 1px solid red;
  width: 98%;
  margin: auto;
  margin-top: 5px;
  text-align: center;
  color: white;
  padding: 2px;
  z-index: 1;
}
.header-container,
.main,
.course {
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.menu-button,
.cart-button {
  font-size: 30px;
  margin: 5px;
}
.main {
  flex-direction: column;
  margin-top: 0.5rem;
}
.course {
  margin-top: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.course-title {
  background: white;
  color: black;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 15px 0px white;
}

.course-startup {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
}
.course-body {
  padding: 5px;
}
.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  margin-bottom: 15px;
}
.item-info {
  display: flex;
}
.vegan {
  color: rgb(12, 236, 12);
}
.spicy {
  color: red;
}
.gf {
  color: yellow;
}

.item-detail {
  display: flex;
  flex-direction: column;
}
.item-detail-header {
  display: flex;
  justify-content: space-around;
  font-family: monospace;
}
.item-detail-badges {
  display: flex;
}
.item-image {
  max-height: 300px;
  max-width: 300px;
  border-radius: 5px;
  min-height: 150px;
  min-height: 150%;
}
.item-price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.item-price-price {
  justify-self: flex-start;
}
img {
  width: 100%;
  height: 100%;
}
.badge-item {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  font-size: 16px;
  border-radius: 50%;
  margin: 2px;
}
.watch-video-button {
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
  font-family: monospace;
  color: red;
  width: 100%;
  border-radius: 10px;
  outline: none;
  border: none;
}
.watch-video-button::before {
  content: "📺";
}
.add-order-button::before {
  content: "🧺";
}
.add-order-button {
  background-color: #ffff1f;
}

.item-price-button {
  align-self: flex-end;
}
/* style for the nav list */
li {
  list-style-type: none;
  width: 100%;
}

.nav-item {
  top: 0;
  width: 100%;
  background-color: rgb(241, 86, 86);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-box-shadow: 5px 5px 20px 0px #000000;
  box-shadow: 0px 5px 15px 0px white;
  text-shadow: 7px -3px 8px #ce5937;
}
.menu-nav-item {
  width: 150%;
  font-family: cursive;
  color: white;
}
.order-count {
  background: white;
  color: red;
  width: 15px;
  height: 15px;
  border-radius: 5px;
}
.cartmenu {
  display: flex;
  flex-direction: row;
}
